body{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: rgb(37, 131, 245);
}
#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
#container1{
    display: grid;
    height: 40vh;
    width: 40vh;  
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-top: 1rem;
    margin-bottom: 1rem;
    transition: all 300 ease-in;
}
h1{
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
}
.item{
    background-color: white;
    border: none;
    font-size: 10vh;
   
}
#but{
    /* width: fit-content; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.button{
    background-color: pink;
    height: 3rem;
    width: 7rem;
    border: 2px solid grey;
    border-radius: 10%;
}
#X{
    background-color: aqua;
}
.item:hover{
    transform: scale(1.1);
}
#reset{
    background-color: red;
}
#reset:hover{
    transform:scale(1.1);
}
.item:active{
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    box-shadow: 0px 1px 0px 0px;
  }